.button {
  flex-flow: column;
  justify-content: center;
  align-content: center;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: #488C18;
  color: #F2AC57;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 18px;
  transition: background-color 0.7s;

  &:hover {
    background-color: #F2AC57;
    color: #488C18;
  }
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    opacity: 0.5;
    outline: none;
  }
}
